<div class="row">
  <div class="col-md-2">&nbsp;</div>

  <div class="col-md-8">
    <div id="tasksPanel" class="card bg-light mb-3">
      <div class="card-header">MAJA :: Tasks</div>

      <div class="card-body">
        <div class="card-text">
            <app-tasks-add></app-tasks-add>
        </div>

        <h5 class="card-title">Task list</h5>
        <div class="card-text">
          <app-tasks-list></app-tasks-list>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2">&nbsp;</div>
</div>